
/* Variables */

$lightgrey: darken(white, 20%);
$medgrey: darken(white, 40%);
$darkgrey: darken(white, 80%);
$blue: #2B76C9;
$green: #439C36;

/* Global */

* {
  @include box-sizing(border-box);

  position: relative;

  // transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, background 0.1s;
  // -moz-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, background 0.1s;
  // -webkit-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, background 0.1s;
  // -o-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, background 0.1s;
}

/* Basics */

html {
  min-height: 100%;
  min-width: 100%;
  font-size: 16px;
}

body {
  background: url('../images/bg.png');
  color: darken(white, 75%);
  font-weight: 400;
  font-family: "Open Sans", "lucida grande", "helvetica neue", helvetica, arial, sans-serif;
}

.mobile-show {
  display: none!important;
}

/* Typography */

h1, h2, h3, h4, h5 {
  display: inline-block;
  font-weight: 300;
  line-height: 1.5em;
  padding: 0 0 2rem 0;
  width: 100%;
  clear: both;
  color: $blue;

  small {
    font-size: 1rem;
    color: $blue;
    font-weight: normal;
    margin-left: 1rem;
  }

  .button {
    margin-left: 1rem;
  }

  &:only-child {
    padding: 0;
  }

  &.green {
    color: $green;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-size: 1.2rem;
  color: $green;
  text-align: left;
  font-weight: normal;
}

h4 {
  font-size: 0.8rem;
  font-weight: bold;
}

h5 {
  text-transform: uppercase;
  padding: 0;
}

p {
  clear: both;
  font-size: 0.85rem;
  line-height: 1.7rem;
  padding: 0 0 2rem 0;

  &:last-child {
    padding: 0;
  }

  &.large {
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 0 3rem 0;
  }

  &.small {
    font-size: 0.75rem;
    line-height: 1.5rem;
    padding: 0;
  }

  &.green {
    color: $green;
  }

  & + h1 {
    margin-top: -2rem;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

[class*="fontawesome-"] {

  &:before {
    font-family: 'FontAwesome', sans-serif;
  }

  &.large {
    font-size: 3rem;
    clear: both;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0 0 1rem 0;
  }
}

ul {
  list-style-type: disc;

  li {
    padding: 1rem 0;
  }
}

h1, h2, h3, h4, p {

  .circle {
    margin: 0 1rem;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* Links */

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &.tile {
    text-decoration: none;

    &:hover {
      @include box-shadow(0 0 10px $medgrey);
    }
  }
}

.button {
  border-radius: 0.25rem;
  background: $medgrey;
  color: white;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 2rem;
  letter-spacing: 0.1em;
  font-weight: 300;

  i {
    margin-right: 0.5rem;
  }

  &:hover {
    color: white;
    background: darken($medgrey, 4%);
  }

  &:active {
    color: white;
    background: darken($medgrey, 6%);
  }

  &.green {
    background: $green;

    &:hover {
      background: darken($green, 4%);
    }

    &:active {
      background: darken($green, 6%);
    }
  }

  &.blue {
    background: $blue;

    &:hover {
      background: darken($blue, 4%);
    }

    &:active {
      background: darken($blue, 6%);
    }
  }

  &.fade {
    background: lighten($lightgrey, 10%);
    color: $darkgrey;

    &:hover {
      background: lighten($lightgrey, 6%);
      color: $darkgrey;
    }

    &:active {
      background: $lightgrey;
      color: $darkgrey;
    }
  }

  &.full {
    width: 100%;
    text-align: center;
    clear: both;

    & + .full {
      margin-top: 1rem;
    }
  }
}

.group {

  .button {
    border-radius: 0;

    &:first-child {
      border-radius: 0.25rem 0 0 0.25rem;
    }

    &:last-child {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }
}

/* Miscellaneous */

span.circle {
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  margin: 0 auto 2rem auto;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: $blue;
  color: white;

  &.green {
    background: $green;
  }

  &.grey {
    background: $lightgrey;
    color: $darkgrey;
  }
}

img.circle {
  border-radius: 50%;
  padding: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $lightgrey;
}

.badge {
  border-radius: (0.25rem);
  padding: 0 0.5rem;
  background: $lightgrey;
  color: $darkgrey;
  font-size: 0.85em;
}

/* Layout */

.wrap {
  @include outer-container;
}

.right {
  float: right;
  text-align: right;
}

.center {
  text-align: center;
}

/* Cart */

.cart {
  @include transform(rotate(1deg));
  @include box-shadow(0 0 5px $darkgrey);
  background: white;
  border-radius: 0.25rem;
  margin: -32rem 2rem 2rem 2rem;

  &.open {
    margin: 2rem;
  }

  .content {
    @include transform(rotate(-1deg));
    @include box-shadow(0 0 5px $darkgrey);
    background: white;
    border-radius: 0.25rem;
    padding: 2rem;
    height: 30rem;
    overflow-y: auto;
  }
}

/* Navigation */

.nav {
  padding: 1rem 0;
  background: $blue;
  border-bottom: 1px solid darken($blue, 25%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  & + .content {
    padding: 7.5rem 0 3.5rem 0;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .group {
    background: white;
    border-radius: 0.25rem;
    padding: 0.25rem;
    width: auto;
    float: right;
  }

  .menu {
    display: block;
    width: 100%;
    list-style: none;

    & > li {
      display: inline-block;
      padding: 0.5rem 0;
      margin: 0 0.5rem 0 0;

      & > a {
        border-radius: 0.25rem;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5em;
        padding: 0.5rem 1rem;

        &:hover {
          background: lighten($blue, 4%);

          & + ul {
            height: auto;
            padding: 0.5rem;
          }
        }

        &.current {
          background: white;
          color: $blue;
        }
      }

      & > ul {
        @include box-sizing(content-box);
        border-radius: 0 0 0.25rem 0.25rem;
        background: $blue;
        padding: 0 0.5rem;
        margin: 0 0 0 -0.5rem;
        height: 0;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 4rem;
        left: 0;
        list-style: none;
        z-index: 1;

        &:hover {
          height: auto;
          padding: 0.5rem;
        }

        li {
          padding: 0;

          a {
            display: block;
            text-align: left;
            padding: 1rem 0.5rem;
            width: 100%;

            &:hover {
              border-radius: 0.25rem;
              background: lighten($blue, 4%);
            }

            &:active {
              background: lighten($blue, 6%);
            }
          }
        }
      }
    }
  }
}

/* Content */

body {

  & > .content {
    background: url('../images/p6.png');
    z-index: 1;
  }
}

.info {
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 2px dashed $green;
}

.stack {
  @include box-shadow(0 0 5px $medgrey);
  background: white;
  border-radius: 0.25rem;
  display: block;
  width: 100%;
  margin: 0 0 2rem 0;

  .tile {
    @include transform(rotate(-1.5deg));
  }
}

.tile {
  @include box-shadow(0 0 5px $medgrey);
  background: white;
  border-radius: 0.25rem;
  padding: 2rem;
  text-align: center;

  & + .tile {
    margin-top: 2rem;
  }

  img {
    max-width: 100%;
    max-height: 25rem;
    margin: 0 auto 2rem auto;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    text-align: left;

    &.fade {
      color: $medgrey;
    }
  }

  img + p, .section {
    border-top: 1px solid $lightgrey;
    margin: 2rem -2rem -2rem -2rem;
    padding: 2rem;
  }

  h2, h3, h4, p {

    & + .section {
      margin-top: 0;
    }
  }

  .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 11rem;
    height: 100%;
    padding: 2rem;
    border-right: 1px solid $lightgrey;

    img {
      width: 100%;
      margin-bottom: 1rem;
    }

    & + .content {
      padding: 0 0 0 12rem;
    }
  }

  .tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.566666667rem;
    border-bottom: 1px solid $lightgrey;
    text-align: left;

    & + .content {
      padding: 2.5rem 0 0 0;
    }

    a {
      @extend .button;
      @extend .button.fade;
      background: none;
      border-radius: 0;
      margin: 0;
      color: $darkgrey;
      display: block;
      float: left;

      &:first-child {
        border-radius: 0.25rem 0 0 0;
      }

      &.current {
        background: lighten($lightgrey, 10%);
        border-left: 1px solid $lightgrey;
        border-right: 1px solid $lightgrey;
      }

      &:hover {
        background: lighten($lightgrey, 4%)
      }
    }
  }

  .columns {

    p {
      padding: 0;
      line-height: 2rem;
    }
  }

  .list {

    a {
      @extend .button;
      @extend .button.fade;
      margin-bottom: 2px;
      border-radius: 0;
      width: 100%;
      text-align: left;
      color: $darkgrey;

      &:first-child {
        border-radius: 0.25rem 0.25rem 0 0;
      }

      &:last-child {
        border-radius: 0 0 0.25rem 0.25rem;
      }
    }
  }
}

/* Footer */

.footer {
  background: rgba(0,0,0,0.1);
  border-top: 1px solid $medgrey;
  border-bottom: 1px solid $medgrey;
  margin-bottom: -1px;
  padding: 2rem 0;
  text-align: center;
  width: 100%;

  .circle {
    position: absolute;
    top: -3.5rem;
    left: 50%;
    margin: 0 0 0 -1.5rem;
    background: white;
    border: 1px solid $medgrey;
    color: $green;
  }

  p {
    padding: 0.5rem 0;
  }

  .item {
    margin: 0 0.5rem;
  }
}

/* Forms */

form {

  .field {
    clear: both;
    width: 100%;
    padding: 0 0 1rem 0;

    &:last-child {
      padding: 0;
    }

    select {
      width: 100%;
      border: 1px solid $medgrey;
      height: 2rem;
      outline: none;
    }

    input[type="text"], input[type="email"], input[type="password"] {
      border-radius: 0.25rem;
      font-size: 0.75rem;
      width: 100%;
      padding: 0.5rem;
      border: 2px solid $lightgrey;
      outline: none;
      margin: 0;

      &:focus {
        border: 2px solid $green;
      }
    }

    &.quantity {

      input[type="text"], input[type="email"], input[type="password"] {
        font-size: 1.5rem;
        padding: 0.5rem 3.5rem;
      }

      a {
        @extend .button;
        @extend .button.fade;
        border-radius: 0;
        position: absolute;
        padding: 0.35rem 1rem;
        top: 1rem;
        left: 1rem;
        z-index: 1;

        &.minus {
          border-right: 2px solid $lightgrey;
          margin: 2px 0 0 2px;
        }

        &.plus {
          border-left: 2px solid $lightgrey;
          margin: 2px 2px 0 0;
          left: auto;
          right: 1rem;
        }

        i {
          margin: 0;
        }
      }
    }
  }

  &.grey {
    border-radius: 0.25rem;
    background: lighten($lightgrey, 10%);

    .field {
      padding: 1rem;
      border-bottom: 1px solid $lightgrey;

      &:last-child {
        border: 0;
      }
    }
  }
}

/* Columns */

.columns {

  &.two {
    @include columns(2 2rem)
  }

  &.three {
    @include columns(3 2rem)
  }
}

/* Grid */

.grid {

  .tile {
    padding: 1rem;

    img {
      margin: 0 auto 1rem auto;
    }

    img + p, .section {
      margin: 1rem -1rem -1rem -1rem;
      padding: 1rem;
    }

    & + .tile {
      margin-top: 0;
    }
  }
}

.row {
  @include outer-container;

  & + .row {
    padding-top: 2rem;
  }

  .col-one {
    @include span-columns(1);
  }

  .col-two {
    @include span-columns(2);
  }

  .col-three {
    @include span-columns(3);
  }

  .col-four {
    @include span-columns(4);
  }

  .col-five {
    @include span-columns(5);
  }

  .col-six {
    @include span-columns(6);
  }

  .col-seven {
    @include span-columns(7);
  }

  .col-eight {
    @include span-columns(8);
  }

  .col-nine {
    @include span-columns(9);
  }

  .col-ten {
    @include span-columns(10);
  }

  /* Offsets */

  .offset-one {
    @include shift(1);
  }

  .offset-two {
    @include shift(2);
  }

  .offset-three {
    @include shift(3);
  }

  .offset-four {
    @include shift(4);
  }

  .offset-five {
    @include shift(5);
  }

  .offset-six {
    @include shift(6);
  }
}
