/* Stylesheets */
/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Variables */
/* Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, background 0.1s;
  -moz-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, background 0.1s;
  -webkit-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, background 0.1s;
  -o-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, background 0.1s; }

/* Basics */
html {
  min-height: 100%;
  min-width: 100%; }

body {
  background: url("../images/bg.png");
  color: #404040;
  font-weight: 400;
  font-family: "Open Sans", "lucida grande", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px; }

/* Typography */
h1, h2, h3, h4, h5 {
  display: inline-block;
  font-weight: 300;
  line-height: 1.5em;
  padding: 0 0 2rem 0;
  width: 100%;
  clear: both;
  color: #2b76c9; }
  h1 small, h2 small, h3 small, h4 small, h5 small {
    font-size: 1rem;
    color: #2b76c9;
    font-weight: normal;
    margin-left: 1rem; }
  h1 .button, h1 .tile .tabs a, .tile .tabs h1 a, h1 .tile .list a, .tile .list h1 a, h1 form .field.quantity a, form .field.quantity h1 a, h2 .button, h2 .tile .tabs a, .tile .tabs h2 a, h2 .tile .list a, .tile .list h2 a, h2 form .field.quantity a, form .field.quantity h2 a, h3 .button, h3 .tile .tabs a, .tile .tabs h3 a, h3 .tile .list a, .tile .list h3 a, h3 form .field.quantity a, form .field.quantity h3 a, h4 .button, h4 .tile .tabs a, .tile .tabs h4 a, h4 .tile .list a, .tile .list h4 a, h4 form .field.quantity a, form .field.quantity h4 a, h5 .button, h5 .tile .tabs a, .tile .tabs h5 a, h5 .tile .list a, .tile .list h5 a, h5 form .field.quantity a, form .field.quantity h5 a {
    margin-left: 1rem; }
  h1:only-child, h2:only-child, h3:only-child, h4:only-child, h5:only-child {
    padding: 0; }
  h1.green, h2.green, h3.green, h4.green, h5.green {
    color: #439c36; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem;
  font-weight: normal; }

h3 {
  font-size: 1.2rem;
  color: #439c36;
  text-align: left;
  font-weight: normal; }

h4 {
  font-size: 0.8rem;
  font-weight: bold; }

h5 {
  text-transform: uppercase;
  padding: 0; }

p {
  clear: both;
  font-size: 0.85rem;
  line-height: 1.7rem;
  padding: 0 0 2rem 0; }
  p:last-child {
    padding: 0; }
  p.large {
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 0 3rem 0; }
  p.small {
    font-size: 0.75rem;
    line-height: 1.5rem;
    padding: 0; }
  p.green {
    color: #439c36; }
  p + h1 {
    margin-top: -2rem; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif; }
[class*="fontawesome-"].large {
  font-size: 3rem;
  clear: both;
  width: 100%;
  display: block;
  text-align: center;
  padding: 0 0 1rem 0; }

ul {
  list-style-type: disc; }
  ul li {
    padding: 1rem 0; }

h1 .circle, h2 .circle, h3 .circle, h4 .circle, p .circle {
  margin: 0 1rem; }

.center {
  text-align: center; }

.right {
  text-align: right; }

/* Links */
a {
  color: inherit;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }
  a.tile {
    text-decoration: none; }

.button, .tile .tabs a, .tile .list a, form .field.quantity a {
  border-radius: 0.25rem;
  background: #999999;
  color: white;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 2rem;
  letter-spacing: 0.1em;
  font-weight: 300; }
  .button i, .tile .tabs a i, .tile .list a i, form .field.quantity a i {
    margin-right: 0.5rem; }
  .button:hover, .tile .tabs a:hover, .tile .list a:hover, form .field.quantity a:hover {
    color: white;
    background: #8f8f8f; }
  .button:active, .tile .tabs a:active, .tile .list a:active, form .field.quantity a:active {
    color: white;
    background: #8a8a8a; }
  .button.green, .tile .tabs a.green, .tile .list a.green, form .field.quantity a.green {
    background: #439c36; }
    .button.green:hover, .tile .tabs a.green:hover, .tile .list a.green:hover, form .field.quantity a.green:hover {
      background: #3c8d31; }
    .button.green:active, .tile .tabs a.green:active, .tile .list a.green:active, form .field.quantity a.green:active {
      background: #39852e; }
  .button.blue, .tile .tabs a.blue, .tile .list a.blue, form .field.quantity a.blue {
    background: #2b76c9; }
    .button.blue:hover, .tile .tabs a.blue:hover, .tile .list a.blue:hover, form .field.quantity a.blue:hover {
      background: #276cb8; }
    .button.blue:active, .tile .tabs a.blue:active, .tile .list a.blue:active, form .field.quantity a.blue:active {
      background: #2667b0; }
  .button.fade, .tile .tabs a, .tile .list a, form .field.quantity a {
    background: #e6e6e6;
    color: #333333; }
    .button.fade:hover, .tile .tabs a:hover, .tile .list a:hover, form .field.quantity a:hover {
      background: #dbdbdb;
      color: #333333; }
    .button.fade:active, .tile .tabs a:active, .tile .list a:active, form .field.quantity a:active {
      background: #cccccc;
      color: #333333; }
  .button.full, .tile .tabs a.full, .tile .list a.full, form .field.quantity a.full {
    width: 100%;
    text-align: center;
    clear: both; }
    .button.full + .full, .tile .tabs a.full + .full, .tile .list a.full + .full, form .field.quantity a.full + .full {
      margin-top: 1rem; }

.group .button, .group .tile .tabs a, .tile .tabs .group a, .group .tile .list a, .tile .list .group a, .group form .field.quantity a, form .field.quantity .group a {
  border-radius: 0; }
  .group .button:first-child, .group .tile .tabs a:first-child, .tile .tabs .group a:first-child, .group .tile .list a:first-child, .tile .list .group a:first-child, .group form .field.quantity a:first-child, form .field.quantity .group a:first-child {
    border-radius: 0.25rem 0 0 0.25rem; }
  .group .button:last-child, .group .tile .tabs a:last-child, .tile .tabs .group a:last-child, .group .tile .list a:last-child, .tile .list .group a:last-child, .group form .field.quantity a:last-child, form .field.quantity .group a:last-child {
    border-radius: 0 0.25rem 0.25rem 0; }

/* Miscellaneous */
span.circle {
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  margin: 0 auto 2rem auto;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #2b76c9;
  color: white; }
  span.circle.green {
    background: #439c36; }
  span.circle.grey {
    background: #cccccc;
    color: #333333; }

img.circle {
  border-radius: 50%;
  padding: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cccccc; }

/* Layout */
.wrap {
  zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrap:before, .wrap:after {
    content: "";
    display: table; }
  .wrap:after {
    clear: both; }

.right {
  float: right;
  text-align: right; }

.center {
  text-align: center; }

/* Navigation */
.nav {
  padding: 1rem;
  background: #2b76c9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  .nav a {
    color: white;
    text-decoration: none; }
  .nav .group {
    background: white;
    border-radius: 0.25rem;
    padding: 0.25rem;
    width: auto;
    float: right; }
  .nav .menu {
    display: block;
    width: 100%;
    list-style: none; }
    .nav .menu > li {
      display: inline-block;
      padding: 0.5rem 0; }
      .nav .menu > li > a {
        border-radius: 0.25rem;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5em;
        padding: 0.5rem 2rem; }
        .nav .menu > li > a:hover, .nav .menu > li > a.current {
          background: #3580d4; }
        .nav .menu > li > a:hover + ul {
          height: auto;
          padding: 0.5rem; }
      .nav .menu > li > ul {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border-radius: 0 0 0.25rem 0.25rem;
        background: #2b76c9;
        padding: 0 0.5rem;
        margin: 0 0 0 -0.5rem;
        height: 0;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 4rem;
        left: 0;
        list-style: none;
        z-index: 1; }
        .nav .menu > li > ul:hover {
          height: auto;
          padding: 0.5rem; }
        .nav .menu > li > ul li {
          padding: 0; }
          .nav .menu > li > ul li a {
            display: block;
            text-align: left;
            padding: 1rem 0.5rem;
            width: 100%; }
            .nav .menu > li > ul li a:hover {
              border-radius: 0.25rem;
              background: #3580d4; }
            .nav .menu > li > ul li a:active {
              background: #3d85d6; }

/* Content */
body > .content {
  background: url("../images/p6.png");
  padding: 9.5rem 0 2rem 0;
  z-index: 1; }

.info {
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 2px dashed #439c36; }

.stack {
  -webkit-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  background: white;
  border-radius: 0.25rem;
  display: block;
  width: 100%;
  margin: 0 0 2rem 0; }
  .stack .tile {
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg); }

.tile {
  -webkit-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  background: white;
  border-radius: 0.25rem;
  padding: 2rem;
  text-align: center; }
  .tile + .tile {
    margin-top: 2rem; }
  .tile img {
    max-width: 100%;
    max-height: 25rem;
    margin: 0 auto 2rem auto; }
  .tile p {
    text-align: left; }
  .tile img + p, .tile .section {
    border-top: 1px solid #cccccc;
    margin: 2rem -2rem -2rem -2rem;
    padding: 2rem; }
  .tile h2 + .section, .tile h3 + .section, .tile h4 + .section, .tile p + .section {
    margin-top: 0; }
  .tile .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 11rem;
    height: 100%;
    padding: 2rem;
    border-right: 1px solid #cccccc; }
    .tile .side img {
      width: 100%;
      margin-bottom: 1rem; }
    .tile .side + .content {
      padding: 0 0 0 12rem; }
  .tile .tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.566666667rem;
    border-bottom: 1px solid #cccccc;
    text-align: left; }
    .tile .tabs + .content {
      padding: 2.5rem 0 0 0; }
    .tile .tabs a {
      background: none;
      border-radius: 0;
      margin: 0;
      color: #333333;
      display: block;
      float: left; }
      .tile .tabs a:first-child {
        border-radius: 0.25rem 0 0 0; }
      .tile .tabs a.current {
        background: #e6e6e6;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc; }
      .tile .tabs a:hover {
        background: #d6d6d6; }
  .tile .columns p {
    padding: 0;
    line-height: 2rem; }
  .tile .list a {
    margin-bottom: 2px;
    border-radius: 0;
    width: 100%;
    text-align: left;
    color: #333333; }
    .tile .list a:first-child {
      border-radius: 0.25rem 0.25rem 0 0; }
    .tile .list a:last-child {
      border-radius: 0 0 0.25rem 0.25rem; }

/* Footer */
.footer {
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid #999999;
  padding: 2rem 0;
  text-align: center;
  width: 100%; }

/* Forms */
form .field {
  clear: both;
  width: 100%;
  padding: 0 0 1rem 0; }
  form .field:last-child {
    padding: 0; }
  form .field select {
    width: 100%; }
  form .field input[type="text"], form .field input[type="email"], form .field input[type="password"] {
    border-radius: 0.25rem;
    font-size: 0.75rem;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #cccccc;
    outline: none;
    margin: 0; }
    form .field input[type="text"]:focus, form .field input[type="email"]:focus, form .field input[type="password"]:focus {
      border: 2px solid #439c36; }
  form .field.quantity input[type="text"], form .field.quantity input[type="email"], form .field.quantity input[type="password"] {
    font-size: 1.5rem;
    padding: 0.5rem 3.5rem; }
  form .field.quantity a {
    border-radius: 0;
    position: absolute;
    padding: 0.35rem 1rem;
    top: 1rem;
    left: 1rem;
    z-index: 1; }
    form .field.quantity a.minus {
      border-right: 2px solid #cccccc;
      margin: 2px 0 0 2px; }
    form .field.quantity a.plus {
      border-left: 2px solid #cccccc;
      margin: 2px 2px 0 0;
      left: auto;
      right: 1rem; }
    form .field.quantity a i {
      margin: 0; }
form.grey {
  border-radius: 0.25rem;
  background: #e6e6e6; }
  form.grey .field {
    padding: 1rem;
    border-bottom: 1px solid #cccccc; }
    form.grey .field:last-child {
      border: 0; }

/* Columns */
.columns.two {
  -webkit-columns: 2 2rem;
  -moz-columns: 2 2rem;
  columns: 2 2rem; }
.columns.three {
  -webkit-columns: 3 2rem;
  -moz-columns: 3 2rem;
  columns: 3 2rem; }

/* Grid */
.grid .tile {
  padding: 1rem; }
  .grid .tile img {
    margin: 0 auto 1rem auto; }
  .grid .tile img + p, .grid .tile .section {
    margin: 1rem -1rem -1rem -1rem;
    padding: 1rem; }
  .grid .tile + .tile {
    margin-top: 0; }

.row {
  zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  /* Offsets */ }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }
  .row + .row {
    padding-top: 2rem; }
  .row .col-one {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .row .col-one:last-child {
      margin-right: 0; }
  .row .col-two {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .row .col-two:last-child {
      margin-right: 0; }
  .row .col-three {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .row .col-three:last-child {
      margin-right: 0; }
  .row .col-four {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-four:last-child {
      margin-right: 0; }
  .row .col-five {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .row .col-five:last-child {
      margin-right: 0; }
  .row .col-six {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .col-six:last-child {
      margin-right: 0; }
  .row .col-seven {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .row .col-seven:last-child {
      margin-right: 0; }
  .row .col-eight {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .row .col-eight:last-child {
      margin-right: 0; }
  .row .col-nine {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .row .col-nine:last-child {
      margin-right: 0; }
  .row .col-ten {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .row .col-ten:last-child {
      margin-right: 0; }
  .row .offset-one {
    margin-left: 8.5298%; }
  .row .offset-two {
    margin-left: 17.05961%; }
  .row .offset-three {
    margin-left: 25.58941%; }
  .row .offset-four {
    margin-left: 34.11922%; }
  .row .offset-five {
    margin-left: 42.64902%; }
  .row .offset-six {
    margin-left: 51.17883%; }

@media screen and (max-width: 640px) {
  body {
    font-size: 14px; }

  .wrapper {
    padding: 4rem 1rem 0 1rem; }

  .nav {
    padding: 1rem 0;
    margin-top: -4rem; }
    .nav .right {
      height: 0;
      overflow: hidden; }

  .content {
    padding: 1rem; }
    .content .header {
      margin: -1rem -1rem 2rem -1rem;
      padding: 1rem 1rem 2rem 1rem;
      text-align: left; }
      .content .header h1 {
        padding: 0 0 2rem 0; }

  /* Columns */
  .row [class*="col-"] {
    margin-bottom: 2rem; }
    .row [class*="col-"]:last-of-type {
      margin-bottom: 0; }
  .row .col-one {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    .row .col-one:last-child {
      margin-right: 0; }
  .row .col-two {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .col-two:last-child {
      margin-right: 0; }
    .row .col-two:nth-child(2n) {
      margin-right: 0; }
  .row .col-three {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-three:last-child {
      margin-right: 0; }
  .row .col-four {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .col-four:last-child {
      margin-right: 0; }
  .row .col-five {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .col-five:last-child {
      margin-right: 0; }
  .row .col-six {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    .row .col-six:last-child {
      margin-right: 0; }
  .row .col-seven {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-seven:last-child {
      margin-right: 0; }
  .row .col-eight {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-eight:last-child {
      margin-right: 0; }
  .row .col-nine {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-nine:last-child {
      margin-right: 0; }
  .row .col-ten {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-ten:last-child {
      margin-right: 0; } }
