<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/application.css" media="screen">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://weloveiconfonts.com/api/?family=fontawesome' rel='stylesheet' type='text/css'>
  </head>

  <body class="{{ page.keyword }}">

    <div class="nav">
      <div class="wrap">
        <div class="row">
          <div class="col-six">
            <ul class="menu">
              <li>
                <a href="../racquets.html" class="current">Racquets</a>
                <ul>
                  <li><a href="../racquets.html">Racquets</a></li>
                  <li><a href="../grips.html">Grips</a></li>
                  <li><a href="../strings.html">Strings</a></li>
                  <li><a href="../accessories.html">Accessories</a></li>
                </ul>
              </li>
              <li>
                <a href="../apparel.html">Apparel</a>
                <ul>
                  <li><a href="../shoes.html">Shoes</a></li>
                  <li><a href="../hats.html">Hats &amp; Visors</a></li>
                  <li><a href="../accessories.html">Accessories</a></li>
                </ul>
              </li>
              <li>
                <a href="../apparel.html">Other</a>
                <ul>
                  <li><a href="../tennisballs.html">Tennis Balls</a></li>
                  <li><a href="../towels.html">Towels</a></li>
                  <li><a href="../fitness.html">Fitness &amp; Therapy</a></li>
                  <li><a href="../court equipment.html">Court Equipment</a></li>
                  <li><a href="../education.html">Education</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-six">
            <div class="group">
              <a href="#" class="button">
                <i class="fontawesome-user"></i>
                Account
              </a>
              <a href="#" class="button green">
                <i class="fontawesome-shopping-cart"></i>
                Cart (2)
              </a>
              <a href="#" class="button">Help</a>
              <a href="#" class="button">Sign out</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="wrap">
        <div class="row">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="wrap">
        <span class="circle blue center">
          <i class="fontawesome-phone"></i>
        </span>
        <p>
          <span class="item">
            Customer Service: (919) 557-7550
          </span>
          <a href="mailto:help@mytennissupplies.com" class="item">help@mytennissupplies.com</a>
        </p>
        <p class="small">&copy; myTennisSupplies. All rights reserved.</p>
      </div>
    </div>

  </body>
</html>

