<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/application.css" media="screen">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://weloveiconfonts.com/api/?family=fontawesome' rel='stylesheet' type='text/css'>
  </head>

  <body class="{{ page.keyword }}">

    <div class="nav">
      <div class="wrap">

        <div class="cart">
          <div class="content">
            <h2>Your cart</h2>

            <table>
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Each</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="/products/shoes--2" class="name">Razer Shoes Front - Flat 000</a>
                    <i>(Pair)</i>
                  </td>
                  <td class="quantity">
                    <div class="quantity_field">
                      <input data-live-edit-url="/orders/73/line_items/278.json" id="order_line_items_6088" name="order[line_items][6088]" type="text" value="1">
                      <div class="btn minus" id="minus-6088">
                  <i class="icon-minus"></i>
                  </div>
                  <div class="btn plus" id="plus-6088">
                  <i class="icon-plus"></i>
                  </div>
                  </div>
                  </td>
                  <td class="group line_item_price">
                  <label class="mobile_show">Each:</label>
                  $17.50
                  </td>
                  <td class="group line_item_total">
                  <label class="mobile_show">Total:</label>
                  $17.50
                  </td>
                  <td class="group">
                  <a href="/orders/73/line_items/278/delete" class="btn red delete_line_item" data-confirm="Are you sure you want to delete Razer Shoes Front - Flat 000" data-method="delete" rel="nofollow"><i class="icon-trash icon-white"></i></a>
                  </td>
                  </tr>
                  <tr>
                  <td>
                  <a href="/products/shoes--2" class="name">Razer Shoes Front - Flat 00</a>
                  <i>(Pair)</i>
                  </td>
                  <td class="quantity">
                  <div class="quantity_field">
                  <input data-live-edit-url="/orders/73/line_items/279.json" id="order_line_items_6089" name="order[line_items][6089]" type="text" value="3">
                  <div class="btn minus" id="minus-6089">
                  <i class="icon-minus"></i>
                  </div>
                  <div class="btn plus" id="plus-6089">
                  <i class="icon-plus"></i>
                  </div>
                  </div>
                  </td>
                  <td class="group line_item_price">
                  <label class="mobile_show">Each:</label>
                  $17.50
                  </td>
                  <td class="group line_item_total">
                  <label class="mobile_show">Total:</label>
                  $52.50
                  </td>
                  <td class="group">
                  <a href="/orders/73/line_items/279/delete" class="btn red delete_line_item" data-confirm="Are you sure you want to delete Razer Shoes Front - Flat 00" data-method="delete" rel="nofollow"><i class="icon-trash icon-white"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-six">
            <ul class="menu">
              <li>
                <a href="../index.html" class="current">Racquets</a>
                <ul>
                  <li><a href="../racquets.html">Racquets</a></li>
                  <li><a href="../grips.html">Grips</a></li>
                  <li><a href="../strings.html">Strings</a></li>
                  <li><a href="../accessories.html">Accessories</a></li>
                </ul>
              </li>
              <li>
                <a href="../index.html">Apparel</a>
                <ul>
                  <li><a href="../shoes.html">Shoes</a></li>
                  <li><a href="../hats.html">Hats &amp; Visors</a></li>
                  <li><a href="../accessories.html">Accessories</a></li>
                </ul>
              </li>
              <li>
                <a href="../index.html">Other</a>
                <ul>
                  <li><a href="../tennisballs.html">Tennis Balls</a></li>
                  <li><a href="../towels.html">Towels</a></li>
                  <li><a href="../fitness.html">Fitness &amp; Therapy</a></li>
                  <li><a href="../court equipment.html">Court Equipment</a></li>
                  <li><a href="../education.html">Education</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-six">
            <div class="group">
              <a href="#" class="button">
                <i class="fontawesome-user"></i>
                Account
              </a>
              <a href="#" class="button green">
                <i class="fontawesome-shopping-cart"></i>
                Cart (2)
              </a>
              <a href="#" class="button">Help</a>
              <a href="#" class="button">Sign out</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="wrap">
        <div class="row">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="wrap">
        <span class="circle">
          <i class="fontawesome-phone"></i>
        </span>
        <p>
          <span class="item">
            Customer Service: (919) 557-7550
          </span>
          <a href="mailto:help@mytennissupplies.com" class="item">help@mytennissupplies.com</a>
        </p>
        <p class="small">&copy; myTennisSupplies. All rights reserved.</p>
      </div>
    </div>

  </body>
</html>

